*{
 
    width:windowWidth;
    height:windowHeight;
    
}

body {

    margin    : 0px;
    padding   : 0px;
    overflow  : hidden;
    
}


#clock{

position: relative;
left: 1080px;
top: 50px;
font-size: 40px;
font-family: fantasy;
color: white;
background-color: black;
width: 220px;;
text-align: center;
padding: 2px;
border-radius: 20px;
border-color: #469ada;
}



#fireb img {

    width        : 350px;
    height       : 350px;
    border: solid;
    border-color:rgb(182, 151, 159) ;
    border-radius: 100%;
   
}

#fireb {
    margin-left: 280px;
    position   : relative;
    bottom     : 370px;
    right      : 70px;
}

h1 {
    position: relative;
    bottom: 60px; 
    background-color: 'black';
    margin-top      : 10px;
    margin-left     : 200px;
    font-family     : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#p1 {

    position   : absolute;
    top        : 65px;
    font-family: monospace;
    font-weight: bold;
    font-size  : 20px;
    left       : 350px;
}


.c1 {
    background-color: rgb(241, 235, 235);
    padding-top     : 10px;
    margin-top      : 10px;
}


h2 {

    font-size: 72px; ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    bottom: 40px;
    position   : relative;
    left       : 650px;
    
    ;
}


.dot {
    height    : 12px;
    width     : 12px;
    margin-top: 10px;

    background-color: #bbb;
    border-radius   : 50%;
    display         : inline-block;
}

.dot1 {

    height          : 130px;
    width           : 130px;
    background-color: rgb(190, 181, 181);
    border-radius   : 50%;
    display         : inline-block;
    cursor          : pointer;
    position        : relative;
    left            : 630px;
    bottom          : 590px;
    transition      : transform 250ms;

}

.dot2 {

    height          : 130px;
    width           : 130px;
    background-color: rgb(190, 181, 181);
    border-radius   : 50%;
    display         : inline-block;
    cursor          : pointer;
    position        : relative;
    left            : 650px;
    bottom          : 590px;
    transition      : transform 250ms;

}

.dot3 {

    height          : 130px;
    width           : 130px;
    background-color: rgb(190, 181, 181);
    border-radius   : 50%;
    display         : inline-block;
    cursor          : pointer;
    position        : relative;
    left            : 670px;
    bottom          : 590px;
    transition      : transform 250ms;

}

.phone p{

position:absolute;

font-family: monospace;
font-size: 15px;
left: 175px;
top: 1px;


top: 604px;
}


.mail {

    position: absolute;

    top        : 0px;
    margin-left: 1100px
}

.txt1 p {

    position: relative;
    left      : 650px;
    bottom: 225px;
    font-size : 32px;
    margin-top: 170px;
           

}

.mail img {

    width   : 35px;
    height  : 35px;
    position: absolute;
    top     : 0px;
    right   : 220px;

}

.AU:hover {
    color     : blue;
    transition: all 0.2s ease;
}

.JU:hover {
    color     : blue;
    transition: all 0.2s ease;
}

.SU:hover {
    color     : blue;
    transition: all 0.2s ease;
}

.SU {


    left  : 802px;
    bottom: 550px;

}

.JU {


    left  : 738px;
    bottom: 550px;
}




.home {
    text-decoration: none;
    color          : grey;
    font-family    : Verdana, Geneva, Tahoma, sans-serif;
    font-size      : 13px;
    position       : absolute;
    bottom         : 550px;
    left           : 680px;
}


.home:hover {
    color     : blue;
    transition: all 0.2s ease;
}


.AU {
    left  : 890px;
    bottom: 550px;
}





.dot1:hover {
    transition      : all 0.8s ease;
    background-color: rgb(248, 63, 63);

}

.dot1:hover {

    transform : translateY(-30px);
    transition: all 450ms ease;

}

.dot1:hover+.dtext p {
    color: white;
}

.dot2:hover {
    transition      : all 0.8s ease;
    background-color: rgb(0, 183, 255);
}

.dot2:hover {
    transform : translateY(-30px);
    transition: all 450ms ease;
}

.dot3:hover {
    transition      : all 0.8s ease;
    background-color: limegreen;
}

.dot3:hover {
    transform : translateY(-30px);
    transition: all 450ms ease;
}

.dot1:hover+.dt1 {

    color     : white;
    transition: all 0.5s ease;
    transform : translateY(-30px);

}

.dot2:hover+.dt2 {
    color     : white;
    transition: all 0.5s ease;
    transform : translateY(-30px);
}

.dot3:hover+.dt3 {
    color     : white;
    transition: all 0.5s ease;
    transform : translateY(-30px);
}

.dt1 {

    bottom     : 285px;
    left       : 645px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size  : 12px;
    margin     : 0px;
    position   : absolute;
    color      : rgb(80, 79, 79);
    transition : transform 250ms;
}



.dt2 {
    font-weight: bold;
    bottom     : 285px;
    left       : 820px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size  : 12px;
    margin     : 0px;
    position   : absolute;
    color      : rgb(80, 79, 79);
    transition : transform 250ms;
}

.dt3 {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size  : 12px;
    margin     : 0px;
    position   : absolute;
    color      : rgb(80, 79, 79);
    bottom     : 285px;
    left       : 960px;
    transition : transform 250ms;
}


.social img{

width: 100px;
position: absolute;
top: 615px;
left: 10px;

}

.phone img{

    width: 45px;
    position: absolute;
    top: 605px;
    left: 130px;
}



.tags a {

    text-decoration: none;
    color          : grey;
    font-family    : Verdana, Geneva, Tahoma, sans-serif;
    font-size      : 13px;
    position       : absolute;

}

.para{

font-family: 'Noticia Text';
word-spacing: 1px;
font-size: 14px;
position: absolute;
bottom: 90px;
left: 650px;
line-height: normal

}
